.search-input-wrapper {
  fieldset {
    border: none !important;
  }

  .MuiInputBase-root {
    background-color: rgb(224, 220, 220) !important;
    border-radius: 2rem !important;
    font-size: 0.9rem;

    input.MuiInputBase-input {
      padding: 0.8rem 1rem 0.8rem 0 !important;
      max-height: 1rem;
      border: none !important;

      &::placeholder {
        color: gray;
      }
    }

    input.MuiInputBase-input::placeholder {
      color: rgb(104, 103, 103) !important;
      font-size: 0.9rem;
    }

    .MuiFilledInput-root:hover {
      opacity: 0.7;
    }

    .MuiSvgIcon-root {
      color: rgb(66, 66, 68) !important;
    }
  }
}
